.numbers {
    background-color: #a82d49;
    padding: 25px 0px;
    max-width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;

}

.numbers .row {
    margin: 10px 0px;
}

.numbers h2 {
    font-size: 50px;
    font-weight: bold;
    margin: 10px 0px;
    color: white;
    font-family: 'Tajawal', sans-serif;

}

.numbers h6 {
    text-transform: uppercase;
    color: white;
    font-family: 'Tajawal', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}


.pride {
    background-color: transparent;
    padding: 25px 0px;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 50px;
}

.pride img {
    max-width: 100%;
    border-radius: 10px;
}

.pride h2 {
    font-size: 35px;
    font-weight: bold;
    width: 80%;
    margin: 10px 0px;
    color: #a82d49;
    font-family: 'Tajawal', sans-serif;
    line-height: 50px;

}

.pride p {
    font-size: 16px;
    line-height: 28px;
    color: #333;
    font-family: 'Tajawal', sans-serif;
    margin-top: 15px;



}

.pride button {
    background-color: #a82d49;
    border: 1px solid #a82d49;
    box-sizing: border-box;
    width: 140px;
    height: 40px;
    text-align: center;
    margin-top: 20px;
    transition: .2s ease;
}

.pride button a {
    display: block;
    color: white;
    font-family: 'Tajawal', sans-serif;
    text-decoration: none !important;
    text-transform: uppercase;
    font-weight: bold;
}

.pride button:hover a {
    color: #a82d49;
}

.pride button:hover {
    background-color: #fff;
}

.ingredients {
    margin-top: 50px;
    max-width: 100%;
    height: auto;
    text-align: left;
    overflow: hidden;
}

.paralex h2,
.ingredients h2 {
    font-size: 50px;
    font-weight: bold;
    margin: 10px 0px;
    color: #a82d49;
    font-family: 'Tajawal', sans-serif;

}

.paralex p,
.ingredients p {
    font-size: 16px;
    line-height: 28px;
    color: #333;
    font-family: 'Tajawal', sans-serif;
    margin-top: 15px;



}

.ingredients button {
    background-color: #a82d49;
    border: 1px solid #a82d49;
    box-sizing: border-box;
    width: 140px;
    height: 40px;
    text-align: center;
    margin-top: 20px;
    transition: .2s ease;
}

.ingredients button a {
    display: block;
    color: white;
    font-family: 'Tajawal', sans-serif;
    text-decoration: none !important;
    text-transform: uppercase;
    font-weight: bold;
}

.ingredients button:hover a {
    color: #a82d49;
}

.ingredients button:hover {
    background-color: #fff;
}

.ingredients ul {
    padding: 0px;
}

.ingredients ul li {
    list-style-type: square;
    font-family: 'Tajawal', sans-serif;
    color: #333;
    margin-top: 10px;
}


.ingredients img {
    max-width: 100%;
    border-radius: 10px;
}

/* css to the paralex section */

.paralex {
    background: url('../../assets/3.jpg') center no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 30px 0px;
    text-align: center;
}

.paralex .row {
    margin: 10px 0px;
}

.paralex a {
    color: #a82d49;
    font-size: 20px;
    margin: 20px 0px;
    font-family: 'Tajawal', sans-serif;
    text-decoration: none;

}

.paralex p {
    color: #444;
    margin: 20px;
    line-height: 32px;
}

.paralex h2 {
    width: 100%;
    margin: 20px 0px;
}

.blogs {
    margin-top: 50px;
    padding: 25px 0px;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.blogs .row:first-child {
    text-align: center;
    margin: 25px 0px;
}

.blogs h2 {
    font-size: 50px;
    font-weight: bold;
    margin: 10px 0px;
    color: #a82d49;
    font-family: 'Tajawal', sans-serif;
}

.blogs p {
    font-size: 16px;
    line-height: 28px;
    color: #333;
    font-family: 'Tajawal', sans-serif;
    margin-top: 15px;
}

.blogs img {
    max-width: 100%;
    border-radius: 8px;
}

.blogs .box {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 1px solid #f6f6f6;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 5px;
}

.blogs h5 {
    color: #a82d49;
    font-family: 'Tajawal', sans-serif;
    font-size: 22px;
    margin: 15px 0px;
}

.blogs .box span{
    display: block;
    color: #444;
    font-family: 'Tajawal', sans-serif;
    font-size: 16px;
    margin: 10px 0px;
    letter-spacing: 1px;
}

.blogs .box h6{
   color: #a82d49;
   font-size: 22px;
   font-weight: bold;
   font-family: 'Tajawal', sans-serif;

}

.blogs button{
    width: 140px;
    height: 40px;
    text-align: center;
    background-color: #740c24;
    border: 1px solid #740c24;
    box-sizing: border-box;
    margin: 10px 0px;
    transition: .3s ease-in-out;
    text-decoration: none;
}

.blogs button a{
   color: #fff;
   text-transform: uppercase;
   font-family: 'Tajawal', sans-serif;
   font-size:'15px' ;
   font-weight: bold;
   text-decoration: none !important;
   letter-spacing: 1px;
}

.blogs button:hover{
    background-color: transparent;
}

.blogs button:hover a{
    color: #740c24;
}

/*start css to the slider section*/

.slider{
    background-color: #a82d49;
    border: 1px solid #a82d49;
    width: 100%;
    height: auto;
    max-width: 100%;
    text-align: center;
    padding: 50px 0px;
}


.slider img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 150px;
}

.slider .carousel{
    background-color: #f6f6f6;
    margin: 40px 0;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 25px 0px;
}

.cp p{
    color: #333;
    font-size: 17px;
    line-height: 30px;
}

.cp h3{
    color: #740c24;
    display: block;
    margin: 15px 0px;
    text-transform: uppercase;
    font-size: 17px;
}

.test{
    color: #fff;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: square;
    
}

.carousel-indicators button{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #740c24;
    border: 1px solid #740c24;
    margin: 5px 5px 15px 5px;
}

footer{
    background-color: white;
    color: #a82d49;
    text-transform: uppercase;
    font-family: 'Tajawal', sans-serif;
    font-size:'15px' ;
    text-decoration: none !important;
    margin: 8px;
    text-align: center;
    letter-spacing: 1px;
}